</main>
<footer>
<span>Copyright &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script>, Daniel Denenberg. All rights reserved.</span>
<div class="flag-wrapper">
    <!-- <span> -->
        <span class="stars">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
        </span>
        <img class="flag" src="img/usa gray.svg" alt="American flag" />
        <span class="stars">
            <span class="star">★</span>
            <span class="star">★</span>
            <span class="star">★</span>
        </span>
    <!-- </span> -->
</div>
</footer>
</div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
e=o.createElement(i);r=o.getElementsByTagName(i)[0];
e.src='//www.google-analytics.com/analytics.js';
r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
ga('create','UA-72173826-1','auto');ga('send','pageview');
</script>
</body>
</html>
